<div class="flex flex-col items-center lg:mt-[95px]">
  <div class="text-ga-gray-1200 text-3xl font-bold">Create Account</div>
  <form class="flex flex-col relative mt-6 items-center lg:w-[25%] w-auto">
    <div class="w-full flex flex-col">
      <input
        type="email"
        [(ngModel)]="email"
        class="rounded-none rounded-r-lg rtl:rounded-r-[0px] rtl:rounded-l-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5"
        [placeholder]="'email'"
        name="email"
      />
    </div>

    <div class="w-full flex flex-col">
      <input
        [(ngModel)]="password"
        class="rounded-none rounded-r-lg rtl:rounded-r-[0px] rtl:rounded-l-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5"
        type="password"
        [(ngModel)]="email"
        class="rounded-none rounded-r-lg rtl:rounded-r-[0px] rtl:rounded-l-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5"
        [placeholder]="'password'"
        name="password"
      />
    </div>

    <button
      (click)="submitForm()"
      type="submit"
      class="w-full mt-5 flex justify-center text-white bg-[#0036FF] hover:bg-[#0036FF]/90 focus:ring-4 focus:ring-[#0036FF]/50 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5"
    >
      create Account
    </button>
    <a class="text-ga-blue-1000 text-sm cursor-pointer">
      Terms & conditions
      <span class="text-ga-gray-1300">and</span>
      <a
        a
        href="https://www.merchant.geidea.net/sa/assets/documents/terms-and-conditions.pdf "
        target="_blank"
      >
        privacy policy
      </a>
    </a>
  </form>
</div>
